<?xml version="1.0"?>

<robot name="hermes" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- CHASSIS PARAMETERS -->
    <xacro:property name="chassis_width" value="0.3" />
    <xacro:property name="chassis_length" value="0.4" />
    <xacro:property name="chassis_height" value="0.15" />

    <!-- WHEEL PARAMETERS -->
    <xacro:property name="wheel_radius" value="0.05" />
    <xacro:property name="wheel_length" value="0.03" />

    <!--MASSES IN KG-->
    <xacro:property name="wheel_mass" value="0.08" />
    <xacro:property name="chassis_mass" value="4" />

    <!-- LIDAR PARAMETERS -->

    <!-- CAMERA PARAMETERS -->

    <!-- The height of the camera above the chassis top-->
    <xacro:property name="camera_height" value="0.03" />
    <!-- How far the wheel is from the body of the robot -->
    <xacro:property name="wheel_offset" value="0.01" />

</robot>