<?xml version="1.0"?>
<robot name="hermes" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find hermes_description)/urdf/materials.xacro" />
<xacro:include filename="$(find hermes_description)/urdf/hermes.trans" />
<xacro:include filename="$(find hermes_description)/urdf/hermes.gazebo" />

<link name="base_link">
  <inertial>
    <origin xyz="0.10477500075901933 -0.1111250007629394 0.05391906662822746" rpy="0 0 0"/>
    <mass value="81.72374908316645"/>
    <inertia ixx="0.615655" iyy="0.885686" izz="1.349622" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find hermes_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="orange"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find hermes_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_rear_right">
  <inertial>
    <origin xyz="0.2921020381367547 -0.24129285394654118 5.955680870910196e-06" rpy="0 0 0"/>
    <mass value="3.0195619873802135"/>
    <inertia ixx="0.002497" iyy="0.003792" izz="0.002497" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.060325 -0.3048 -0.041275" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find hermes_description)/meshes/Wheel1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.060325 -0.3048 -0.041275" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find hermes_description)/meshes/Wheel1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_middle_right">
  <inertial>
    <origin xyz="0.1651000007629506 -0.11430000076293943 1.3877787807814457e-17" rpy="0 0 0"/>
    <mass value="3.0187528289577594"/>
    <inertia ixx="0.002496" iyy="0.003791" izz="0.002496" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.060325 -0.1778 -0.041275" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find hermes_description)/meshes/Wheel2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.060325 -0.1778 -0.041275" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find hermes_description)/meshes/Wheel2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_front_right">
  <inertial>
    <origin xyz="0.038100000000011125 0.012699999237060541 2.0816681711721685e-17" rpy="0 0 0"/>
    <mass value="3.018752828957761"/>
    <inertia ixx="0.002496" iyy="0.003791" izz="0.002496" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.060325 -0.0508 -0.041275" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find hermes_description)/meshes/Wheel3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.060325 -0.0508 -0.041275" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find hermes_description)/meshes/Wheel3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_rear_left">
  <inertial>
    <origin xyz="-0.1079499992370716 -0.5905500007629394 1.3877787807814457e-17" rpy="0 0 0"/>
    <mass value="3.0187528289577594"/>
    <inertia ixx="0.002496" iyy="0.003791" izz="0.002496" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.339725 -0.3048 -0.041275" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find hermes_description)/meshes/Wheel6_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.339725 -0.3048 -0.041275" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find hermes_description)/meshes/Wheel6_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_middle_left">
  <inertial>
    <origin xyz="-0.23494999923707155 -0.46355000076293945 4.163336342344337e-17" rpy="0 0 0"/>
    <mass value="3.018752828957758"/>
    <inertia ixx="0.002496" iyy="0.003791" izz="0.002496" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.339725 -0.1778 -0.041275" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find hermes_description)/meshes/Wheel5_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.339725 -0.1778 -0.041275" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find hermes_description)/meshes/Wheel5_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_front_left">
  <inertial>
    <origin xyz="-0.36194999923707155 -0.33655000076293945 -6.938893903907228e-18" rpy="0 0 0"/>
    <mass value="3.018752828957761"/>
    <inertia ixx="0.002496" iyy="0.003791" izz="0.002496" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.339725 -0.0508 -0.041275" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find hermes_description)/meshes/Wheel4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.339725 -0.0508 -0.041275" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find hermes_description)/meshes/Wheel4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="base_to_wheel_rear_right" type="continuous">
  <origin xyz="-0.060325 0.3048 0.041275" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="wheel_rear_right"/>
  <axis xyz="0 1 0" />
</joint>

<joint name="base_to_wheel_middle_right" type="continuous">
  <origin xyz="-0.060325 0.1778 0.041275" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="wheel_middle_right"/>
  <axis xyz="0 1 0" />
</joint>

<joint name="base_to_wheel_front_right" type="fixed">
  <origin xyz="-0.060325 0.0508 0.041275" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="wheel_front_right"/>
</joint>

<joint name="base_to_wheel_rear_left" type="fixed">
  <origin xyz="0.339725 0.3048 0.041275" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="wheel_rear_left"/>
</joint>

<joint name="base_to_wheel_middle_left" type="fixed">
  <origin xyz="0.339725 0.1778 0.041275" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="wheel_middle_left"/>
</joint>

<joint name="base_to_wheel_front_left" type="fixed">
  <origin xyz="0.339725 0.0508 0.041275" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="wheel_front_left"/>
</joint>

</robot>