<?xml version="1.0"?>
<robot name="hermes" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="SkidSteer" type="system">
        <hardware>
            <!-- Gazebo simulation backend-->
             <xacro:if value="$(arg use_gazebo)">
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </xacro:if>
            <!-- Mock components -->
             <xacro:if value="$(arg use_mock)">
                <plugin>mock_components/GenericSystem</plugin>
             </xacro:if>

             <!-- Physical robot backend -->
            <xacro:if value="$(arg use_hardware)">
                <plugin>hermes_hardware/HermesSystemHardware</plugin>
                <!-- FIX: These two lines MUST be present and set to numbers (like 0 or 2.0) -->
                <param name="example_param_hw_start_duration_sec">0</param>
                <param name="example_param_hw_stop_duration_sec">0</param>
                <param name="serial_port">/dev/ttyACM0</param>
             </xacro:if>
        </hardware> 
        <joint name="left_rear_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />

        </joint>
        <joint name="left_middle_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="left_front_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="right_rear_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="right_middle_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="right_front_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
    </ros2_control>

</robot>